<h1 id="partialTitle">Date Histogram</h1>

<div class="container-fluid">
            <div class="row-fluid">
           <p>Click on the histogram to simulate a data drill-down by date.</p>
                <div class="span10">
                    <div class="row-fluid">
                        <div><strong>Date Histogram with Angular &amp; d3</strong></div>
                        <div class="span10" style="height:200px">
                            <fs:date-histo 
                                duration="750"
                                interval="month"
                                on-click="filterSearchA"
                                bind="results.facets.Times"
                            />
                        </div>
                    </div>
</div>
                   

