<h1>Reusable Vertical Bar Chart</h1>

<div><strong>Vertical Bar Chart with Angular &amp; d3</strong></div>
    <chart-form></chart-form>
    <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
    <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->

<h3>Select the "Update Data" button to see the graph dynamically transition to the new data.</h3>
<p>(Note known bug: the graph sometimes disappears when angular routes to a new view and then back again. This is currently being investigated. Refresh brings it back.)</p>