
<h1>Horizontal Bar Chart</h1>
<!--<p>
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->


<div class="container-fluid">
    <div class="row-fluid">
        <div><strong>Horizontal Bar Chart with Angular &amp; d3</strong></div>
        <div class="span10" style="height:200px">
            <fs:bar
                width="900"
                height="175"
                duration="750"
                on-click="filterSearchA"
                bind="results.facets.Product"
            />
        </div>
    </div>
</div>